/*
       _     _     _           _ 
 _____|_|___|_|___| |_ ___ ___|_|
|     | |   | |_ -|  _| . |  _| |
|_|_|_|_|_|_|_|___|_| |___|_| |_|


 */

// variable
$fullPercent:100%;

@import "reset";

.rbs-wrap{overflow:hidden;}

// stage style
.rbs-stage{
  width:$fullPercent; position:relative; overflow:hidden; margin:0 auto;
  
  .rbs-container{
    position:relative; height:$fullPercent;
    
    // contents style
   .rbs-contents{
     position:absolute; top:0; left:0; width:$fullPercent; height:$fullPercent;
     
     img{
       width:$fullPercent; height:$fullPercent;
     }
     
     div{
       position:absolute; top:0; left:0;
     }
   }
  }
  
  .rbs-direction{
    
    >div{
      position:absolute; top:$fullPercent/2; cursor:pointer;
      
      &.prev{left:0;}
      &.next{right:0;}
    }
    
  }
  
  .rbs-play-stop{
    position:absolute; bottom:0; left:$fullPercent/2; margin-left:50px;
    
    >div{
      float:left; margin-right:10px; cursor:pointer;
    }
  }
  
  .rbs-page-container{
    position:absolute; bottom:0; left:$fullPercent/2;
    
    >.pager{float:left; cursor:pointer;}
  }
  
  .rbs-timer-bar{
    position:absolute; width:$fullPercent; height:5px; bottom:0; background:#000; text-indent:-99999em;
  }
 
}

